
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Urun Listesi</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Anasayfa</a></li>
            <li class="breadcrumb-item">Urunler</li>
            <li class="breadcrumb-item active" aria-current="page">Urun işlemleri</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-lg-12 mb-4">
            <!-- Simple Tables -->
            <div class="card">

                <h3 >kullanıcı Adınız: </h3>
                <h2> @ViewBag.v</h2>
                <div class="card-footer"></div>
            </div>
        </div>
    </div>
   
</div>