
<ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/Dashboard/Index">
        <div class="sidebar-brand-icon">
            <img src="/templates/admin/img/logo/logo2.png">
        </div>
        <div class="sidebar-brand-text mx-3">TasteFood Admin</div>
    </a>
    <hr class="sidebar-divider my-0">
    <li class="nav-item">
        <a class="nav-link" href="/Default/Index">
            <i class="fas fa-fw fa-cloud-meatball"></i>
            <span>SiteyeGit</span>
        </a>
    </li> <li class="nav-item">
        <a class="nav-link" href="/Dashboard/Index">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Category/CategoryList">
            <i class="fas fa-fw fa-comment-alt"></i>
            <span>Kategoriler</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Product/AdminUrun">
            <i class="fas fa-fw fa-list-alt"></i>
            <span>Urunler</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Natification/NatificationList">
            <i class="fas fa-fw fa-arrows-alt"></i>
            <span>Bildirimler</span>
        </a>
    </li> 
    <li class="nav-item">
        <a class="nav-link" href="/Reservation/ReservationList">
            <i class="fas fa-fw fa-trash-restore-alt"></i>
            <span>Rezarvasyon Listesi</span>
        </a>
    </li> 
    <li class="nav-item">
        <a class="nav-link" href="/AdminLayout/AllMessage">
            <i class="fas fa-fw fa-mail-bulk"></i>
            <span>GelenMesajlar</span>
        </a>
    </li> 
    
    <li class="nav-item">
        <a class="nav-link" href="/Login/LogOut">
            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-800"></i>
            <span>CikisYap</span>
        </a>
    </li>

</ul>