<section class="hero-wrap">
    <div class="home-slider owl-carousel js-fullheight">
        <div class="slider-item js-fullheight" style="background-image: url(/templates/tasteit-master/images/foto1.jpg);">
           
        </div>

        <div class="slider-item js-fullheight" style="background-image: url(/templates/tasteit-master/images/makarna.jpg);">
            
        </div>

        <div class="slider-item js-fullheight" style="background-image: url(/templates/tasteit-master/images/ikiCubuk.jpg);">
          
        </div>
    </div>
</section>
